<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Detail Kontak</h2>

      <% if (!contact) { %>
      <div class="alert alert-danger fw-bold" role="alert">
        Data kontak tidak ada <br>
        <a href="/contact" class="alert-link fw-normal">&laquo; Kembali ke daftar kontak</a>
      </div>
      <% } else { %>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Detail Kontak</h5>
          <p class="card-subtitle mb-2 text-body-secondary">
            <%= contact.nama %>
          </p>
          <p class="card-text"><%= contact.nomor %></p>
          <p class="card-text"><%= contact.email %></p>
          <a href="/contact/edit/<%= contact.nama %>" class="btn btn-info badge">Ubah Data</a>
          <!-- <a href="/contact/delete/<%= contact.nama %>" class="btn btn-danger badge" onclick="return confirm('Apakah anda yakin untuk menghapus kontak ini?')">Hapus Data</a> -->
          <form action="/contact?_method=delete" method="post" class="d-inline" onclick="return confirm('Apakah anda yakin untuk menghapus kontak ini?')">
            <input type="hidden" name="nama" value="<%= contact.nama %>">
            <button class="btn btn-danger badge">Hapus Data</button>
          </form>
          <a href="/contact" class="card-link d-block mt-3"
            >&laquo; Kembali ke daftar kontak</a
          >
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
